*{
    padding: 1px;
    margin: 1px;
    box-sizing: border-box;
}
.container1{
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: space-evenly;
    background: #e24a39;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #692f28); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.container2{
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: space-evenly;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




}
img{
    height: 250px;
    width: 250px;
    border: 5px solid black;
    border-radius: 20px;
    margin-top: 5px;
    box-shadow: rgba(92, 3, 59, 0.808) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    transition: width 1.5s, height 2s, transform 1s;

}
img:hover{
    width: 300px;
}
.goback{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
button{
    width: 200px;
    height: 33px;
    margin: 20px 0px 0px 55px ;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
@media (max-width:650px) {
    .container1{
        display: flex;
        flex-direction: column;
        height: 1200px;
    }
    .container2{
        display: flex;
        flex-direction: column;
        height: 1200px;


    }
    .goback{
        display: flex;
        flex-direction: column;
    }
    img:hover{
        width: 250px;
    }
    img{
        height: 200px;
        width: 200px;
        margin-left: 5px;
    }
    
}
;;;;;;;